./*/.ipynb_checkpoints/*
.ipynb_checkpoints
"./*/.ipynb_checkpoints/*"
".ipynb_checkpoints"
Untitled.ipynb
/*/__pycache__/*
/*/*/__pycache__/*
/*/*/*/__pycache__/*
__pycache__
/*/*/*/agents_model/*
/agents_model/
/mnist_data/
/*/mnist_data/